.container {
    width: 100%;
    height: 3.8vh;

    display: flex;
    justify-content: space-between;
    background-color: rgb(31, 31, 31);
    align-items: center;
    border-bottom: 2px solid (43, 43, 43);
}

.header1 {
    display: flex;
    gap: 5px;
    align-items: center;

    svg {
        margin-left: 1rem;
        color: #fff;
        cursor: pointer;
    }

    p {
        color: #fff;
        font-size: .7rem;
        font-weight: 300;
        cursor: default;
            font-weight: 400;
            padding: .35rem .4rem;
            border-radius: 5px;
        
            &:hover {
                background-color: rgb(70, 70, 70);
            }
    }
}

.header2 {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    svg {
            cursor: pointer;
        }
    div {
        svg {
            margin: 0 16px;
            cursor: pointer;
        }
    }
}