aside {
    position: fixed;
    
    z-index: 999;
    left: 0;
    height: calc(100vh - 3.8vh - 2.5vh);
    width: 55px;

    background-color: rgb(24, 24, 24);
    border-right: 2px solid rgb(43, 43, 43);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    svg {
        color: #fff;
    }
}

.aside1,
.aside2 {
    width: 100%;
    padding-right: .2rem;
}