@import '../abstract/variables';

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  scroll-behavior: smooth;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: $color-font-white;
  font-weight: 500;
  font-size: 1rem;
}


.interface {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  padding: 13px;
  scroll-behavior: smooth; /* Adicione esta linha */
  transition: scroll-behavior 2s ease-in-out; /* Adicione esta linha */
  section {
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
  }
    
}

.sectionanima {
  opacity: 0;
}

.sectionanima.anima {
  opacity: 1;
  animation: animationTextShow 1.5s forwards;
}