@import '../abstract/variables';

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  scroll-behavior: smooth;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: $color-font-white;
  font-weight: 500;
  font-size: 1rem;
}

body {
  padding: 13px;
  border-radius: 15px;
  background-color: #fff;
}

.sectionanima {
  opacity: 0;
}

.sectionanima.anima {
  opacity: 1;
  animation: animationTextShow 1.5s forwards;
}