@import '../abstract/variables';

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  scroll-behavior: smooth;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: $color-font-white;
  font-weight: 500;
  font-size: 1rem;
}

html, body {
  background-color: $color-bg;
}

.back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: $color-font-white;
  color: $color-bg;
  font-size: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.back-to-top.show {
  display: block;
}