$color-bg: #0b0b0b;
$color-dark: #2b2b2b;
$color-font-white: #fffcf5;

@keyframes animationTextShow {
    0% {
        transform: translate3d(0, 100%, 0);
        height: 0;
        transition: .8s all;
        opacity: .2;
    }
    20% {
        opacity: .3;
    }
    50% {
        opacity: .6;
    }
    75% {
        opacity: .8;
    }
    100% {
        transform: translate3d(0, 0, 0);
        transition: .8s all;
        height: 100%;
        opacity: 1;
    }
}

@keyframes opacityHeadeer {
    0% {
        opacity: 0;
        transition: .8s all;
    }
    100% {
        opacity: 1;
        transition: .8s all;
    }
}