@import '../abstract/variables';

header {
    padding: 2rem 5rem;
    .headersize {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .titleprofile {
            display: flex;
            align-items: center;
            gap: 10px;
            animation: opacityHeadeer 2s forwards;
            h1 {
                font-weight: 800;
                font-size: 3rem;
            }
            #title {
                margin-top: 5px;
                cursor: pointer;
                h1 {
                    font-size: 1rem;
                    color: $color-font-white;
                    font-weight: 700;
                }
                .profile {
                    h3 {
                        font-size: .9rem;
                        color: #7a7a7a;
                        overflow: hidden;
                        position: relative;
                        display: inline-block;
                        span {
                            display: inline-block;
                            transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
                            color: #7a7a7a;
                        }
                        &::before, &::after {
                            content: '';
                            position: absolute;
                            width: 100%;
                            left: 0;
                        }
                        &::after {
                            content: attr(data-replace);
                            height: 100%;
                            top: 0;
                            transform-origin: 50% 100%;
                            transform: translate3d(0, 100%, 0);
                            transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
                            color: #a1a1a1;
                        }
                        &:hover::before {
                            transform-origin: 50% 50%;
                            transform: scaleY(0);
                        }
                        &:hover::after {
                            transform: translate3d(0, 0, 0);
                        }
                        &:hover span {
                            transform: translate3d(0, 100%, 0);
                        }
                    }
                }
            }
        }
        .disponiveltowork {
            display: flex;
            align-items: center;
            gap: 10px;
            span {
                border-radius: 100%;
                width: 8px;
                height: 8px;
                background-color: rgb(0, 131, 0);
                animation: pulse 1s infinite alternate;
            }
        }
        .menuhamburger {
            display: flex;
            flex-direction: column;
            gap: 15px;
            cursor: pointer;
            span {
                width: 90px;
                height: 1px;
                background-color: rgb(212, 212, 212);
                transition: all 0.3s ease-in-out;
            }
        }
    }
}



@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.7);
    }
    100% {
        transform: scale(1.1);
        box-shadow: 0 0 0 8px rgba(0, 255, 0, 0);
    }
}