@import '../abstract/variables';

main {
    display: flex;
    flex-direction: column;

    padding: 2rem;
    position: absolute;
    .description {
        margin-bottom: 1.2rem;
        .title {
            span {
                font-size: 1px;
            }
            h1 {
                font-size: 5rem;
                @media (max-width: 800px) {
                    font-size: 2rem;
                }
                @media (max-width: 380px) {
                    font-size: 30px;
                }
            }
        }
        .textsdescription {
            span {
                font-size: 1px;
            }
            h2 {
                font-size: 1rem;
            }
            p {
                max-width: 33ch;
                font-size: .9rem;
                margin-top: 1rem;
            }
        }
    }
    .links {
        margin-top: 1rem;
        span {
            font-size: .5rem;
        }
        nav {
             ul {
                display: flex;
                flex-direction: column;
                li {
                    cursor: pointer;
                }
                .indexcontent {
                    color: #000000;
                }
             }
        }
    }
}
