@import '../abstract/reset';

main {
    padding: 3rem 5rem;
    .mainsize {
        padding: 9rem 0rem;

        display: flex;
        align-items: center;
        .textmain {
            position: relative;
            width: 100%;
            margin-right: 3rem;
            h1 {
                font-size: 3rem;
                font-weight: 600;
                animation: animationTextShow 2s forwards;
                span {
                    font-size: 3rem;
                }
            }
            p {
                margin: 2rem 0rem 3rem 0rem;
                max-width: 70ch;
                font-size: 1rem;
                animation: animationTextShow 2.3s forwards;
            }
            .divmain {
                display: flex;
                align-items: center;
                gap: 15px;
                animation: animationTextShow 2.3s forwards;
                .seeprojetos {
                    background-color: #181818;
                    padding: 1rem 2rem;
                    color: #fff;
                    background-image: linear-gradient(rgba(255,255,255,.1), #0e0e0e00,#0e0e0e00, #0e0e0e00);
                }
            }
            .textcircle {
                height: 150px;
                position: absolute;
                top: 0%;
                right: 0%;
                animation: rotateAnimation infinite 7s linear;
            }
        }
    }
}

@keyframes rotateAnimation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
