@import '../abstract/reset';

main {
    background-color: #f5f5f5;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem 1rem;
    height: 90vh;
    position: relative;
    .mainsize {
        padding: 9rem 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .textmain {
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: column;
            .mainimgwork {
                display: flex;
                gap: 15px;
                animation: animationTextShow 2s forwards;
                img {
                    width: 80px;
                }
                .disponiveltowork {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    span {
                        border-radius: 100%;
                        width: 8px;
                        height: 8px;
                        background-color: rgb(0, 131, 0);
                        animation: pulse 1s infinite alternate;
                    }
                    p {
                        color: $color-dark;
                    }
                }
            }
            /* 
            #title {
                cursor: pointer;
                margin: 1.5rem 0rem .5rem 0rem;
                animation: animationTextShow 2s forwards;
                h1 {
                    font-size: 4rem;
                    color: $color-dark;
                    font-weight: 700;
                }
                .profile {
                    h3 {
                        font-size: 4rem;
                        color: $color-dark;
                        overflow: hidden;
                        position: relative;
                        display: inline-block;
                        span {
                            font-size: 4rem;
                            display: inline-block;
                            transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
                            color: $color-dark;
                        }
                        &::before, &::after {
                            content: '';
                            position: absolute;
                            width: 100%;
                            left: 0;
                        }
                        &::after {
                            content: attr(data-replace);
                            height: 100%;
                            top: 0;
                            transform-origin: 50% 100%;
                            transform: translate3d(0, 100%, 0);
                            transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
                            color: #000000;
                        }
                        &:hover::before {
                            transform-origin: 50% 50%;
                            transform: scaleY(0);
                        }
                        &:hover::after {
                            transform: translate3d(0, 0, 0);
                        }
                        &:hover span {
                            transform: translate3d(0, 100%, 0);
                        }
                    }
                }
            }
            */
            .mainfocus {
                animation: animationTextShow 2s forwards;
                h1 {
                    font-size: 5rem;
                }
            }
            .introtextmain {
                animation: animationTextShow 2s forwards;
                margin-bottom: 1.2rem;
                h3 { 
                   font-size: 1.2rem;
                    font-weight: 600;
            
                    color: $color-dark; 
                }
                p {
                    max-width: 60ch;
                    line-height: 1.4;
                    font-size: 1.2rem;

                    color: #525252;
                }
            }
            .divmain {
                display: flex;
                align-items: center;
                gap: 25px;
                animation: animationTextShow 2s forwards;
                .seeprojetos {
                    background-color: rgb(0, 0, 0);
                    padding: .7rem 2rem;
                    font-weight: bold;
                    color: #fff;
                    background-image: linear-gradient(rgba(255,255,255,.1), #0e0e0e00,#0e0e0e00, #0e0e0e00);
                }
                a {
                    color: $color-dark;
                    color: rgb(0, 0, 0);
                    font-weight: bold;
                    padding: .6rem 1.4rem;
                    border: 1px solid #000;
                    border-radius: 20px;
                }
            }
            .textcircle {
                display: none;
                height: 130px;
                position: absolute;
                bottom: 7%;
                right: 3%;
                animation: rotateAnimation infinite 7s linear;
            }
        }
    }
}

@keyframes rotateAnimation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


  @keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  @-webkit-keyframes arrow /*Safari and Chrome*/
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }