@import '../abstract/variables';
    header {
        .headersize {
            .menuhamburger {
                transition: .3s;
            }
            .menuhamburger.ativo {
                z-index: 888;
                span:nth-child(1) {
                  width: 40px;
              }
              span:nth-child(2) {
                  width: 40px;
              }
              &:hover span {
                  width: 40px;
              }
              }
              .menuhamburger.ativo .bar:nth-child(2) {
                opacity: 0;
                background-color: $color-dark;
                transition: .3s ease-in-out;
              }
              .menuhamburger.ativo .bar:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
                background-color: $color-dark;
                transition: .3s ease-in-out;
              }
              .menuhamburger.ativo .bar:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
                background-color: $color-dark;
                transition: .3s ease-in-out;
            }
        }
    }