@import '../abstract/variables';

@media (max-width: 700px) {
    header {
        .headersize {
            nav {
                display: none;
            }
            .menuhamburger {
                display: block;
                transition: .3s;
            }
            .menuhamburger.ativo {
                z-index: 888;
                position: absolute;
                right: 10px; 
                top: 15px;
              }
              .menuhamburger.ativo .bar:nth-child(2) {
                opacity: 0;
                background-color: $color-dark;
                transition: .3s ease-in-out;
              }
              .menuhamburger.ativo .bar:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
                background-color: $color-dark;
                transition: .3s ease-in-out;
              }
              .menuhamburger.ativo .bar:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
                background-color: $color-dark;
                transition: .3s ease-in-out;
            }
        }
    }
}