@import '../abstract/variables';

#sobre {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 12rem;
    .titlesobre {
        font-size: 2rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        margin: 2rem 0rem;
        &::after {
            content: '';
            width: 80%;
            height: 2px;
            background-color: #e7e7e7;
            margin-left: 1.5rem;
        }
    }
    .containersobretexts {
        display: flex;
        gap: 50px;
        .textsobreleft {
            p {
                max-width: 70ch;
                margin: 10px 0;
            }
        }
        .textsobreright {
            .textright1 {
                margin-bottom: 2.3rem;
            }
            h2 {
                gap: 12px;
                font-size: 1.2rem;
                font-weight: bold;
                background-color: #000;
                padding: .5rem 0 .5rem 1rem;
                color: #fff;
                margin-bottom: 1rem;
                display: flex;
                align-items: center;
                i {
                    color: #fff;
                }
            }
            p {
                margin: 5px 0;
            }
        }
    }
}

