@import '../abstract/variables';

#contact {
    height: 60vh;
    background-color: $color-bg;
    padding: 5rem 1rem 3rem 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    .containercontact {
        max-width: 1400px;
        margin: 0 auto;
        width: 100%;
        .linkscontact {
            display: flex;
            justify-content: space-between;
        }
    }
}