@import '../abstract/variables';

footer {
    height: 60vh;
    background-color: $color-bg;
    display: flex;
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem 1rem;
}