@import '../abstract/variables';

#projetos {
    padding: 0 2rem;
    h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    .linebreak {
        height: 2px;
        width: 1px solid rgb(58, 58, 58);
        width: 100%;
        display: block;
    }
    .containerprojects {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;

        .projeto {
            width: 47%;
            margin-bottom: 5rem;
            .photoprojeto {
                position: relative;
                overflow: hidden;

                .imgprincipalprojeto,
                .imgprincipalprojetohover {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    transition: transform 0.45s ease-in-out, opacity 0.2s ease;
                }

                .imgprincipalprojetohover {
                    position: absolute;
                    top: 0;
                    left: 100%; 
                }

                &:hover {
                    .imgprincipalprojetohover {
                        transform: translateX(-100%);
                    }
                }
            }

            .textprojeto {
                display: flex;
                justify-content: space-between;
                margin-top: 1rem;
                h3 {
                    font-size: 1.5rem;
                }
                a {
                    font-size: 1.5rem;
                }
            }
        }
    }
}
