@import '../abstract/variables';

#projetos {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    background-color: $color-bg;
    padding: 1.5rem 1rem;
    .textproject {
        .titlepageproject {
            font-size: 2rem;
            font-weight: 600; 
            margin-bottom: 2rem;
            }
            .row {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 50px;
                .card {
                    width: 480px;
                      .wrapper {
                        background-color: #000;
                        height: 550px;
                        position: relative;
                        overflow: hidden;
                        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.1);
                        &:hover .data {
                            transform: translateY(0);
                        }
                        .data {
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            transform: translateY(calc(130px + 1em));
                            transition: transform 0.3s;
                            z-index: 1;
                            .content {
                                padding: 0 1rem;
                                .author {
                                    font-size: .7rem;
                                    color: #a7a7a7;
                                }
                                .text {
                                    color: #000;
                                }
                            }
                          }
                    }
                }
                .project1, .project2, .project3 {
                      .titleproject {
                        color: #000;
                        font-size: 2rem;
                      }
                      .text {
                        margin: 15px 0 10px 0;
                      }
                      .linkto {
                        color: #000;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 1rem 0rem;
                        margin: 1.5rem 0rem;
                        background-color: #000;
                        color: #fff;
                        &::after {
                          content: '\2192';
                          opacity: 0;
                          position: absolute;
                          right: 0;
                          top: 50%;
                          transform: translate(0, -50%);
                          transition: all 0.3s;
                        }
                        &:hover {
                          &::after {
                            transform: translate(5px, -50%);
                            opacity: 1;
                          }
                        }
                      }
                }
                .project1  .wrapper {
                    background: url(../assets/testdsm.jpg) center / cover no-repeat;
                }
                .project2  .wrapper {
                    background: url(../assets/testjapa.jpg) center / cover no-repeat;
                }
                .project3  .wrapper {
                    background: url(../assets/testrx.jpg) center / cover no-repeat;
                }
            }
        }
    }