@import '../abstract/variables';

#skills {
    background-color: $color-bg;
    padding: 5rem 5rem;
    .textskill {
        max-width: 1250px;
        width: 100%;
        margin: 0 auto;
        padding: 5rem 1.5rem;
        h1 {
            font-size: 2rem;
            margin-bottom: 2rem;
            color: #fff;
            text-transform: uppercase;
            font-family: 'Righteous', sans-serif;
        }
        .containerskills {
            display: flex;
            gap: 100px;
            .containercontentlanguage {
                width: 50%;
                .contentlanguage {
                    display: none;
                }
                .contentlanguage.ativo {
                    display: block;
                    animation: animationText .9s forwards;
                }
            }
            .imagelanguages {
                width: 50%;
                display: flex;
                gap: 50px;
                flex-wrap: wrap;
                .menulanguage {
                    border: 1px solid $color-dark;
                    padding: 1.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                    img {
                        height: 40px;
                    }
                }
                .menulanguage.ativo {
                    background-color: $color-dark;
                }
            }
        }
    }
    }

@keyframes animationText {
    from {
      transform: translate3d(-15%, 0, 0);
      opacity: 0;
    }
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }