.containerContact {
    height: calc(100vh - 6.3vh);
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 55px;
}
.contactsize {
    position: absolute;
    left: 75px;
    top: 60px;
    display: flex;
    @media (max-width: 450px) {
        left: 50px;
        top: 40px;
        padding: 1rem;
    }
}
.contactmidias {
    h1 {
        color: #999898;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
}
.socialmediascontact {
    counter-reset: line;
    line-height: 2rem;
    p {
        font-family: 'Montserrat', sans-serif;
         color: #757575;
        display: flex;
        align-items: center;    
        gap: 10px;
        font-size: 1.2rem;
        a {
            color: #ffffff;
            font-size: 1.2rem;
            &:hover {
                text-decoration: underline;
            }
        }
        @media (max-width: 450px) {
            font-size: .85rem;
        }
    }
}
.socialmediascontact p::before {
    content: counter(line);
    counter-increment: line;
    margin-right: 1rem;
    color: grey;
}
