.containerContact {
    height: calc(100vh - 6.3vh);
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 55px;
}
.contactsize {
    position: absolute;
    left: 80px;
    top: 50px;

    display: flex;

    h1 {
        color: #fff;
    }
}