main {
    width: 100%;
    height: calc(100vh - 3.8vh);
    margin-left: 55px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    svg {
        color: #222222;
    }
}