aside {
    position: relative;
    left: 0;
    height: calc(100vh - 3.8vh - 2.5vh);
    width: 3%;
        background-color: rgb(24, 24, 24);
        border-right: 2px solid rgb(43, 43, 43);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    svg {
        color: #fff;
    }
}

.aside1,
.aside2 {
    width: 100%;
        padding-right: .2rem;
    
        .iconaside {
            background-color: transparent;
            border: none;
            cursor: pointer;
            display: grid;
            height: 50px;
            place-content: center;
            position: relative;
            width: 100%;
    
            span {
                background-color: #181818;
                height: 100%;
                left: 1px;
                position: absolute;
                width: 1.5px;
            }
        }
    
        .iconaside.active {
            span {
                background-color: #005d6d;
            }
        }
    svg {
        cursor: pointer;
        color: #7e7b74;
        }
}