.container-advice {
    position: absolute;
    left: 4%;
    top: 5.8%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    img {
        transform: rotate(-100deg);
        width: 40px;
        margin-right: 1.5rem;
    }

    p {
        max-width: 20ch;
        color: #fff;
        font-size: 10px;
        text-align: center;
    }
}