.dropdownSettingsContainer {
    position: absolute;
    bottom: 60px;
    left: 100%;
    z-index: 999;
    background: #1c1c1c;
    width: 130px;
    height: 130px;
    border: 1.5px solid rgb(87, 87, 87);
    border-radius: 5px;
}

.settings1,
.settings2 {
    display: flex;
    flex-direction: column;
    padding: .5rem 1rem;

    a {
        color: #fff;
        font-size: .5rem;
        margin: 2px 0;
    }
}

.settings1 {
    border-bottom: 1.5px solid rgb(87, 87, 87);
}