.filetab {
    display: flex;
    align-items: center;
    background-color: #2e2e2e;
    gap: 5px;
    padding: .4rem 1rem .4rem .6rem;
    border-top: 1px solid white;
    display: flex;
    h1 {
        color: #fff;
    }

    img {
        width: 17px;
    }
}
