.filetab {
    display: flex;
    align-items: center;
    background-color: #2e2e2e;
    gap: 5px;
    padding: .4rem 1rem .4rem .6rem;
    border-top: 1px solid white;
    display: flex;
    img {
        width: 17px;
    }
}

.filetab {
    display: none;
}

.filetab.active {
    display: flex;

    span {
        color: #fff;
    }
}