* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  scroll-behavior: smooth;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  font-family: Segoe WPC, Segoe UI, sans-serif;
}

.interface {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
body {
  background-color: #2e2e2e;
  overflow: hidden;
}

.local {
  display: flex;
  position: relative;
  height: 100vh;
}