* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  scroll-behavior: smooth;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #2b2b2b;
  font-weight: 500;
}

html, body {
  background-color: rgb(243, 243, 243);
}

header {
  border-bottom: 1px solid rgb(219, 219, 219);
}
header .headersize {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
}
header .headersize #title {
  cursor: pointer;
}
header .headersize #title span {
  color: #000000;
}
header .headersize nav ul {
  display: flex;
  gap: 50px;
}
header .headersize .menuhamburger {
  cursor: pointer;
  display: none;
}
header .headersize .menuhamburger span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3 ease-in-out;
  background-color: #2b2b2b;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  scroll-behavior: smooth;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #2b2b2b;
  font-weight: 500;
}

html, body {
  background-color: rgb(243, 243, 243);
}

main .mainsize {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 11rem 1rem;
  display: flex;
  align-items: center;
}
main .mainsize .textmain {
  margin-right: 5rem;
}
main .mainsize .textmain h1 {
  font-size: 3rem;
}
main .mainsize .textmain p {
  margin: 0.8rem 0rem 3rem 0rem;
  max-width: 60ch;
  font-size: 1.5rem;
}
main .mainsize .textmain .seeprojetos {
  background-color: #2b2b2b;
  padding: 1rem 2rem;
  color: #fff;
}
main .mainsize .imgmain {
  position: relative;
}
main .mainsize .imgmain .myphoto {
  height: 400px;
}
main .mainsize .imgmain .textcircle {
  height: 150px;
  position: absolute;
  bottom: -17%;
  right: -13%;
  animation: rotateAnimation infinite 7s linear;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#contato {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
#contato .container-form {
  width: 100%;
}
#contato .container-form h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}
#contato .container-form .form-style {
  display: flex;
  flex-direction: column;
  align-items: left;
}
#contato .container-form .form-style .label-form {
  margin-bottom: 7px;
}
#contato .container-form .form-style .input-style,
#contato .container-form .form-style .textarea-style, #contato .container-form .form-style .textarea {
  width: 100%;
  border: 0;
  padding: 0.6em;
  padding-left: 0;
  position: relative;
  color: currentColor;
  background: transparent;
  border-bottom: 1px solid currentColor;
}
#contato .container-form .form-style .name-email {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}
#contato .container-form .form-style .name-email .every-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#contato .container-form .form-style .name-email .every-input .input-style {
  height: 40px;
  width: 100%;
  padding: 15px 8px;
}
#contato .container-form .form-style .message {
  margin-top: 3rem;
}
#contato .container-form .form-style .message .textarea {
  padding: 0.6rem;
  height: 100px;
  padding-bottom: 3.5rem;
}
#contato .container-form .form-style .button-submit-form {
  height: 34px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  background-color: #3f3f3f;
  font-size: 1rem;
  margin: 0 auto;
  width: 30%;
  color: #fff;
}
@media (max-width: 600px) {
  #contato .container-form .form-style .name-email {
    flex-direction: column;
    gap: 0px;
  }
}/*# sourceMappingURL=styles.css.map */