@keyframes animationTextShow {
  0% {
    transform: translate3d(0, 100%, 0);
    height: 0;
    transition: 0.8s all;
    opacity: 0.2;
  }
  20% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    transform: translate3d(0, 0, 0);
    transition: 0.8s all;
    height: 100%;
    opacity: 1;
  }
}
@keyframes opacityHeadeer {
  0% {
    opacity: 0;
    transition: 0.8s all;
  }
  100% {
    opacity: 1;
    transition: 0.8s all;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  scroll-behavior: smooth;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #fffcf5;
  font-weight: 500;
  font-size: 1rem;
}

.interface {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  padding: 13px;
}
.interface section {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
}

.sectionanima {
  opacity: 0;
}

.sectionanima.anima {
  opacity: 1;
  animation: animationTextShow 1.5s forwards;
}

@keyframes animationTextShow {
  0% {
    transform: translate3d(0, 100%, 0);
    height: 0;
    transition: 0.8s all;
    opacity: 0.2;
  }
  20% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    transform: translate3d(0, 0, 0);
    transition: 0.8s all;
    height: 100%;
    opacity: 1;
  }
}
@keyframes opacityHeadeer {
  0% {
    opacity: 0;
    transition: 0.8s all;
  }
  100% {
    opacity: 1;
    transition: 0.8s all;
  }
}
@keyframes animationTextShow {
  0% {
    transform: translate3d(0, 100%, 0);
    height: 0;
    transition: 0.8s all;
    opacity: 0.2;
  }
  20% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    transform: translate3d(0, 0, 0);
    transition: 0.8s all;
    height: 100%;
    opacity: 1;
  }
}
@keyframes opacityHeadeer {
  0% {
    opacity: 0;
    transition: 0.8s all;
  }
  100% {
    opacity: 1;
    transition: 0.8s all;
  }
}
header {
  background-color: #0b0b0b;
  padding: 2rem 5rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
header .headersize {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .headersize .titleprofile {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .headersize .titleprofile h1 {
  font-weight: 800;
  font-size: 3rem;
}
header .headersize .titleprofile #title {
  margin-top: 5px;
  cursor: pointer;
}
header .headersize .titleprofile #title h1 {
  font-size: 1rem;
  color: #fffcf5;
  font-weight: 700;
}
header .headersize .titleprofile #title .profile h3 {
  font-size: 0.9rem;
  color: #7a7a7a;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
header .headersize .titleprofile #title .profile h3 span {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #7a7a7a;
}
header .headersize .titleprofile #title .profile h3::before, header .headersize .titleprofile #title .profile h3::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}
header .headersize .titleprofile #title .profile h3::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 50% 100%;
  transform: translate3d(0, 100%, 0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #a1a1a1;
}
header .headersize .titleprofile #title .profile h3:hover::before {
  transform-origin: 50% 50%;
  transform: scaleY(0);
}
header .headersize .titleprofile #title .profile h3:hover::after {
  transform: translate3d(0, 0, 0);
}
header .headersize .titleprofile #title .profile h3:hover span {
  transform: translate3d(0, 100%, 0);
}
header .headersize .menuhamburger {
  display: flex;
  flex-direction: column;
  gap: 15px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding-right: 7.5rem;
}
header .headersize .menuhamburger span {
  width: 90px;
  height: 1px;
  background-color: rgb(212, 212, 212);
  transition: all 0.3s ease-in-out;
}
header .headersize .disponiveltowork {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .headersize .disponiveltowork span {
  border-radius: 100%;
  width: 8px;
  height: 8px;
  background-color: rgb(0, 131, 0);
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.7);
  }
  100% {
    transform: scale(1.1);
    box-shadow: 0 0 0 8px rgba(0, 255, 0, 0);
  }
}
@keyframes animationTextShow {
  0% {
    transform: translate3d(0, 100%, 0);
    height: 0;
    transition: 0.8s all;
    opacity: 0.2;
  }
  20% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    transform: translate3d(0, 0, 0);
    transition: 0.8s all;
    height: 100%;
    opacity: 1;
  }
}
@keyframes opacityHeadeer {
  0% {
    opacity: 0;
    transition: 0.8s all;
  }
  100% {
    opacity: 1;
    transition: 0.8s all;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  scroll-behavior: smooth;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #fffcf5;
  font-weight: 500;
  font-size: 1rem;
}

.interface {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  padding: 13px;
}
.interface section {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
}

.sectionanima {
  opacity: 0;
}

.sectionanima.anima {
  opacity: 1;
  animation: animationTextShow 1.5s forwards;
}

main {
  background-color: #0b0b0b;
  padding: 6rem 5rem 5rem 5rem;
  height: 90vh;
  position: relative;
}
main .mainsize {
  padding: 9rem 0rem;
  display: flex;
  align-items: center;
}
main .mainsize .textmain {
  width: 100%;
  margin-right: 3rem;
}
main .mainsize .textmain h1 {
  font-size: 4rem;
  font-weight: 600;
  animation: animationTextShow 2s forwards;
}
main .mainsize .textmain h1 span {
  font-size: 3rem;
}
main .mainsize .textmain p {
  margin: 2rem 0rem 3rem 0rem;
  max-width: 70ch;
  line-height: 1.4;
  font-size: 1.2rem;
  animation: animationTextShow 2.3s forwards;
  color: #969696;
}
main .mainsize .textmain .divmain {
  display: flex;
  align-items: center;
  gap: 45px;
  animation: animationTextShow 2.3s forwards;
}
main .mainsize .textmain .divmain .seeprojetos {
  background-color: #181818;
  padding: 1rem 2rem;
  color: #fff;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(14, 14, 14, 0), rgba(14, 14, 14, 0), rgba(14, 14, 14, 0));
}
main .mainsize .textmain .textcircle {
  height: 130px;
  position: absolute;
  bottom: 7%;
  left: 3%;
  animation: rotateAnimation infinite 7s linear;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes animationTextShow {
  0% {
    transform: translate3d(0, 100%, 0);
    height: 0;
    transition: 0.8s all;
    opacity: 0.2;
  }
  20% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    transform: translate3d(0, 0, 0);
    transition: 0.8s all;
    height: 100%;
    opacity: 1;
  }
}
@keyframes opacityHeadeer {
  0% {
    opacity: 0;
    transition: 0.8s all;
  }
  100% {
    opacity: 1;
    transition: 0.8s all;
  }
}
header .headersize .menuhamburger.ativo {
  z-index: 888;
  animation: opacityHeadeer 0.2s forwards;
  position: fixed;
  left: 50%;
}
header .headersize .menuhamburger.ativo span:nth-child(1) {
  width: 40px;
}
header .headersize .menuhamburger.ativo span:nth-child(2) {
  width: 40px;
}
header .headersize .menuhamburger.ativo:hover span {
  width: 40px;
}
header .headersize .menuhamburger.ativo .bar:nth-child(2) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: #2b2b2b;
  transition: 0.5s ease-in-out;
}
header .headersize .menuhamburger.ativo .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: #2b2b2b;
  transition: 0.5s ease-in-out;
}

@keyframes animationTextShow {
  0% {
    transform: translate3d(0, 100%, 0);
    height: 0;
    transition: 0.8s all;
    opacity: 0.2;
  }
  20% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    transform: translate3d(0, 0, 0);
    transition: 0.8s all;
    height: 100%;
    opacity: 1;
  }
}
@keyframes opacityHeadeer {
  0% {
    opacity: 0;
    transition: 0.8s all;
  }
  100% {
    opacity: 1;
    transition: 0.8s all;
  }
}
.mobileMenuContent {
  display: none;
}
.mobileMenuContent .divisorcontent {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  padding: 10rem 3rem;
}
.mobileMenuContent .divisorcontent nav {
  text-align: center;
}
.mobileMenuContent .divisorcontent nav ul li {
  animation: animationTextShow 2.3s forwards;
}
.mobileMenuContent .divisorcontent nav ul li a {
  font-size: 4rem;
  margin: 15px 0;
  color: #0b0b0b;
}
.mobileMenuContent .divisorcontent nav ul li a:hover {
  color: #5f5f5f;
}
.mobileMenuContent .divisorcontent .menubg {
  color: #0b0b0b;
  animation: animationTextShow 2.3s forwards;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
}
.mobileMenuContent .divisorcontent .menubg .contact .namecelemail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.mobileMenuContent .divisorcontent .menubg .contact .namecelemail h1 {
  font-size: 1.3rem;
  font-style: italic;
  color: #0b0b0b;
}
.mobileMenuContent .divisorcontent .menubg .contact .namecelemail .iconlink {
  gap: 15px;
}
.mobileMenuContent .divisorcontent .menubg .contact .namecelemail .iconlink a {
  color: #0b0b0b;
}
.mobileMenuContent .divisorcontent .menubg .contact .socialmedia {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5rem;
}
.mobileMenuContent .divisorcontent .menubg .contact .socialmedia .underline {
  text-decoration: none;
  color: #000;
  position: relative;
}
.mobileMenuContent .divisorcontent .menubg .contact .socialmedia .underline span {
  background-image: linear-gradient(0deg, #000000 0%, #000000 100%);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: var(--background-size, 100%) 1px;
  transition: background-size 0.2s linear var(--background-delay, 0.15s);
  font-size: 16px;
  line-height: 20px;
  transform: translateZ(0);
  color: #0b0b0b;
}
.mobileMenuContent .divisorcontent .menubg .contact .socialmedia .underline svg {
  vertical-align: top;
  display: inline;
  line-height: 1;
  width: 13px;
  height: 20px;
  position: relative;
  left: -2px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1px;
  stroke: #000000;
  stroke-dasharray: 7.95 30;
  stroke-dashoffset: var(--stroke-dashoffset, 46);
  transition: stroke-dashoffset var(--stroke-duration, 0.15s) var(--stroke-easing, linear) var(--stroke-delay, 0s);
}
.mobileMenuContent .divisorcontent .menubg .contact .socialmedia .underline:hover {
  --background-size: 0%;
  --background-delay: 0s;
  --stroke-dashoffset: 26;
  --stroke-duration: .3s;
  --stroke-easing: cubic-bezier(.3, 1.5, .5, 1);
  --stroke-delay: .195s;
}

.mobileMenuContent.ativo {
  display: block;
  height: 100vh;
  width: 100%;
  background-color: #f3f3f3;
  position: fixed;
  top: 0;
  z-index: 777;
  animation: animationMenu 0.5s ease-in-out;
}

@keyframes animationMenuClose {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes animationMenu {
  from {
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes animationTextShow {
  0% {
    transform: translate3d(0, 100%, 0);
    height: 0;
    transition: 0.8s all;
    opacity: 0.2;
  }
  20% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    transform: translate3d(0, 0, 0);
    transition: 0.8s all;
    height: 100%;
    opacity: 1;
  }
}
@keyframes opacityHeadeer {
  0% {
    opacity: 0;
    transition: 0.8s all;
  }
  100% {
    opacity: 1;
    transition: 0.8s all;
  }
}
#contato {
  height: 60vh;
  background-color: #0b0b0b;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
#contato .contactsize {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 0rem 1.5rem;
  display: flex;
}
#contato .contactsize .sobrecontato {
  width: 30%;
}
#contato .contactsize .sobrecontato h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-family: "Righteous", sans-serif;
}
#contato .contactsize .container-form {
  width: 100%;
}
#contato .contactsize .container-form .form-style {
  display: flex;
  flex-direction: column;
  align-items: left;
}
#contato .contactsize .container-form .form-style .label-form {
  margin-bottom: 7px;
}
#contato .contactsize .container-form .form-style .input-style,
#contato .contactsize .container-form .form-style .textarea-style, #contato .contactsize .container-form .form-style .textarea {
  width: 100%;
  border: 0;
  padding: 0.6em;
  padding-left: 0;
  position: relative;
  color: currentColor;
  background: transparent;
  border-bottom: 1px solid currentColor;
}
#contato .contactsize .container-form .form-style .name-email {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}
#contato .contactsize .container-form .form-style .name-email .every-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#contato .contactsize .container-form .form-style .name-email .every-input .input-style {
  height: 40px;
  width: 100%;
  padding: 15px 8px;
}
#contato .contactsize .container-form .form-style .message {
  margin-top: 3rem;
}
#contato .contactsize .container-form .form-style .message .textarea {
  padding: 0.6rem;
  height: 100px;
  padding-bottom: 3.5rem;
}
#contato .contactsize .container-form .form-style .button-submit-form {
  height: 34px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  background-color: #3f3f3f;
  font-size: 1rem;
  margin: 0 auto;
  width: 30%;
  color: #fff;
}
@media (max-width: 600px) {
  #contato .contactsize .container-form .form-style .name-email {
    flex-direction: column;
    gap: 0px;
  }
}

@keyframes animationTextShow {
  0% {
    transform: translate3d(0, 100%, 0);
    height: 0;
    transition: 0.8s all;
    opacity: 0.2;
  }
  20% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    transform: translate3d(0, 0, 0);
    transition: 0.8s all;
    height: 100%;
    opacity: 1;
  }
}
@keyframes opacityHeadeer {
  0% {
    opacity: 0;
    transition: 0.8s all;
  }
  100% {
    opacity: 1;
    transition: 0.8s all;
  }
}
#projetos {
  background-color: #0b0b0b;
  padding: 5rem 5rem;
}
#projetos .textproject {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 5rem 1.5rem;
}
#projetos .textproject h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-family: "Righteous", sans-serif;
}
#projetos .textproject .linebreak {
  height: 2px;
  width: 1px solid rgb(58, 58, 58);
  width: 100%;
  display: block;
}
#projetos .textproject .containerprojects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
#projetos .textproject .containerprojects .projeto {
  width: 100%;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
}
#projetos .textproject .containerprojects .projeto .photoprojeto {
  position: relative;
  overflow: hidden;
}
#projetos .textproject .containerprojects .projeto .photoprojeto .imgprincipalprojeto,
#projetos .textproject .containerprojects .projeto .photoprojeto .imgprincipalprojetohover {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.45s ease-in-out, opacity 0.2s ease;
}
#projetos .textproject .containerprojects .projeto .photoprojeto .imgprincipalprojetohover {
  position: absolute;
  top: 0;
  left: 100%;
}
#projetos .textproject .containerprojects .projeto .photoprojeto:hover .imgprincipalprojetohover {
  transform: translateX(-100%);
}
#projetos .textproject .containerprojects .projeto .contentimg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5rem 0rem;
}
#projetos .textproject .containerprojects .projeto .contentimg .menutabsimgs {
  display: flex;
  gap: 20px;
}
#projetos .textproject .containerprojects .projeto .contentimg .menutabsimgs span {
  width: 10px;
  height: 10px;
  background-color: #fff;
}
#projetos .textproject .containerprojects .projeto .infosprojeto {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}
#projetos .textproject .containerprojects .projeto .infosprojeto .linkstoprojects h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
#projetos .textproject .containerprojects .projeto .infosprojeto .linkstoprojects a {
  font-size: 0.8rem;
  background-color: #181818;
  padding: 1rem 2rem;
  color: #fff;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(14, 14, 14, 0), rgba(14, 14, 14, 0), rgba(14, 14, 14, 0));
}
#projetos .textproject .containerprojects .projeto .infosprojeto .linkstoprojects .repositorylink {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  background-color: #181818;
  padding: 1rem;
  color: #fff;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(14, 14, 14, 0), rgba(14, 14, 14, 0), rgba(14, 14, 14, 0));
  max-width: 180px;
}
#projetos .textproject .containerprojects .projeto .infosprojeto .linkstoprojects .repositorylink p {
  color: #ffffff;
}
#projetos .textproject .containerprojects .projeto .infosprojeto .descriptionprojects p {
  max-width: 30ch;
  text-align: left;
}

@keyframes animationTextShow {
  0% {
    transform: translate3d(0, 100%, 0);
    height: 0;
    transition: 0.8s all;
    opacity: 0.2;
  }
  20% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    transform: translate3d(0, 0, 0);
    transition: 0.8s all;
    height: 100%;
    opacity: 1;
  }
}
@keyframes opacityHeadeer {
  0% {
    opacity: 0;
    transition: 0.8s all;
  }
  100% {
    opacity: 1;
    transition: 0.8s all;
  }
}
#skills {
  background-color: #0b0b0b;
  padding: 5rem 5rem;
}
#skills .textskill {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 5rem 1.5rem;
}
#skills .textskill h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-family: "Righteous", sans-serif;
}
#skills .textskill .containerskills {
  display: flex;
  gap: 100px;
}
#skills .textskill .containerskills .containercontentlanguage {
  width: 50%;
}
#skills .textskill .containerskills .containercontentlanguage .contentlanguage {
  display: none;
}
#skills .textskill .containerskills .containercontentlanguage .contentlanguage.ativo {
  display: block;
  animation: animationText 0.9s forwards;
}
#skills .textskill .containerskills .imagelanguages {
  width: 50%;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}
#skills .textskill .containerskills .imagelanguages .menulanguage {
  border: 1px solid #2b2b2b;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
#skills .textskill .containerskills .imagelanguages .menulanguage img {
  height: 40px;
}
#skills .textskill .containerskills .imagelanguages .menulanguage.ativo {
  background-color: #2b2b2b;
}

@keyframes animationText {
  from {
    transform: translate3d(-15%, 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes animationTextShow {
  0% {
    transform: translate3d(0, 100%, 0);
    height: 0;
    transition: 0.8s all;
    opacity: 0.2;
  }
  20% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    transform: translate3d(0, 0, 0);
    transition: 0.8s all;
    height: 100%;
    opacity: 1;
  }
}
@keyframes opacityHeadeer {
  0% {
    opacity: 0;
    transition: 0.8s all;
  }
  100% {
    opacity: 1;
    transition: 0.8s all;
  }
}
#sobre {
  background-color: #0b0b0b;
  position: relative;
  padding: 5rem 5rem;
}
#sobre .textsobre {
  display: flex;
  justify-content: space-between;
}
#sobre .textsobre h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-family: "Righteous", sans-serif;
}
#sobre .textsobre p {
  max-width: 75ch;
  margin: 10px 0;
}
#sobre .textsobre .arrowtoinfo {
  display: flex;
  align-items: center;
  gap: 60px;
}
#sobre .textsobre .arrowtoinfo .arrow {
  transform: rotate(90deg);
}
#sobre .textsobre .myphoto {
  height: 300px;
}

.scrollanima.ativoScroll {
  animation: animationTextShow 1.8s forwards;
}

@keyframes moveRight {
  from {
    left: 50%;
  }
  to {
    left: 91.2%;
  }
}
.myphoto.moveright {
  animation: moveRight 1.8s forwards;
}/*# sourceMappingURL=styles.css.map */