@charset "UTF-8";
@keyframes animationTextShow {
  0% {
    transform: translate3d(0, 100%, 0);
    height: 0;
    transition: 0.8s all;
    opacity: 0.2;
  }
  20% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    transform: translate3d(0, 0, 0);
    transition: 0.8s all;
    height: 100%;
    opacity: 1;
  }
}
@keyframes opacityHeadeer {
  0% {
    opacity: 0;
    transition: 0.8s all;
  }
  100% {
    opacity: 1;
    transition: 0.8s all;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  scroll-behavior: smooth;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #1b1b1b;
  font-weight: 500;
  font-size: 1rem;
}

.sectionanima {
  opacity: 0;
}

.sectionanima.anima {
  opacity: 1;
  animation: animationTextShow 1.5s forwards;
}

@keyframes animationTextShow {
  0% {
    transform: translate3d(0, 100%, 0);
    height: 0;
    transition: 0.8s all;
    opacity: 0.2;
  }
  20% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    transform: translate3d(0, 0, 0);
    transition: 0.8s all;
    height: 100%;
    opacity: 1;
  }
}
@keyframes opacityHeadeer {
  0% {
    opacity: 0;
    transition: 0.8s all;
  }
  100% {
    opacity: 1;
    transition: 0.8s all;
  }
}
@keyframes animationTextShow {
  0% {
    transform: translate3d(0, 100%, 0);
    height: 0;
    transition: 0.8s all;
    opacity: 0.2;
  }
  20% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    transform: translate3d(0, 0, 0);
    transition: 0.8s all;
    height: 100%;
    opacity: 1;
  }
}
@keyframes opacityHeadeer {
  0% {
    opacity: 0;
    transition: 0.8s all;
  }
  100% {
    opacity: 1;
    transition: 0.8s all;
  }
}
header {
  background-color: #ffffff;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem 1rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
header .headersize {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .headersize .titleprofile {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .headersize .titleprofile h1 {
  font-weight: 800;
  font-size: 3rem;
  color: #1b1b1b;
}
header .headersize .titleprofile #title {
  margin-top: 5px;
  cursor: pointer;
}
header .headersize .titleprofile #title h1 {
  font-size: 1rem;
  color: #1b1b1b;
  font-weight: 700;
}
header .headersize .titleprofile #title .profile h3 {
  font-size: 0.9rem;
  color: #1b1b1b;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
header .headersize .titleprofile #title .profile h3 span {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #1b1b1b;
}
header .headersize .titleprofile #title .profile h3::before, header .headersize .titleprofile #title .profile h3::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}
header .headersize .titleprofile #title .profile h3::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 50% 100%;
  transform: translate3d(0, 100%, 0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #a1a1a1;
}
header .headersize .titleprofile #title .profile h3:hover::before {
  transform-origin: 50% 50%;
  transform: scaleY(0);
}
header .headersize .titleprofile #title .profile h3:hover::after {
  transform: translate3d(0, 0, 0);
}
header .headersize .titleprofile #title .profile h3:hover span {
  transform: translate3d(0, 100%, 0);
}
header .headersize .menuhamburger {
  display: flex;
  flex-direction: column;
  gap: 9px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding-right: 7.5rem;
}
header .headersize .menuhamburger span {
  width: 50px;
  height: 3px;
  background-color: #1b1b1b;
}
header .headersize .disponiveltowork {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .headersize .disponiveltowork span {
  border-radius: 100%;
  width: 8px;
  height: 8px;
  background-color: rgb(0, 131, 0);
  animation: pulse 1s infinite alternate;
}
header .headersize .disponiveltowork p {
  color: #1b1b1b;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.7);
  }
  100% {
    transform: scale(1.1);
    box-shadow: 0 0 0 8px rgba(0, 255, 0, 0);
  }
}
@keyframes animationTextShow {
  0% {
    transform: translate3d(0, 100%, 0);
    height: 0;
    transition: 0.8s all;
    opacity: 0.2;
  }
  20% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    transform: translate3d(0, 0, 0);
    transition: 0.8s all;
    height: 100%;
    opacity: 1;
  }
}
@keyframes opacityHeadeer {
  0% {
    opacity: 0;
    transition: 0.8s all;
  }
  100% {
    opacity: 1;
    transition: 0.8s all;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  scroll-behavior: smooth;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #1b1b1b;
  font-weight: 500;
  font-size: 1rem;
}

.sectionanima {
  opacity: 0;
}

.sectionanima.anima {
  opacity: 1;
  animation: animationTextShow 1.5s forwards;
}

main {
  background-color: #ffffff;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem 1rem;
  height: 90vh;
  position: relative;
}
main .mainsize {
  padding: 12rem 0rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
main .mainsize .textmain {
  width: 100%;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .mainsize .textmain h1 {
  font-size: 4rem;
  font-weight: 600;
  animation: animationTextShow 2s forwards;
  color: #1b1b1b;
}
main .mainsize .textmain h1 span {
  font-size: 3rem;
}
main .mainsize .textmain p {
  margin: 2rem 0rem 3rem 0rem;
  max-width: 70ch;
  line-height: 1.4;
  font-size: 1.2rem;
  animation: animationTextShow 2.3s forwards;
  color: #525252;
}
main .mainsize .textmain .divmain {
  display: flex;
  align-items: center;
  gap: 45px;
  animation: animationTextShow 2.3s forwards;
}
main .mainsize .textmain .divmain .seeprojetos {
  background-color: #181818;
  padding: 1rem 2rem;
  color: #fff;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(14, 14, 14, 0), rgba(14, 14, 14, 0), rgba(14, 14, 14, 0));
}
main .mainsize .textmain .divmain a {
  color: #1b1b1b;
}
main .mainsize .textmain .textcircle {
  display: none;
  height: 130px;
  position: absolute;
  bottom: 7%;
  right: 3%;
  animation: rotateAnimation infinite 7s linear;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes animationTextShow {
  0% {
    transform: translate3d(0, 100%, 0);
    height: 0;
    transition: 0.8s all;
    opacity: 0.2;
  }
  20% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    transform: translate3d(0, 0, 0);
    transition: 0.8s all;
    height: 100%;
    opacity: 1;
  }
}
@keyframes opacityHeadeer {
  0% {
    opacity: 0;
    transition: 0.8s all;
  }
  100% {
    opacity: 1;
    transition: 0.8s all;
  }
}
.mobileMenuContent {
  display: none;
}
.mobileMenuContent .divisorcontent {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 50px;
  padding: 4rem;
  position: relative;
}
.mobileMenuContent .divisorcontent .divisorpart1 .headermobilecontentmenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.mobileMenuContent .divisorcontent .divisorpart1 .headermobilecontentmenu .languageschange {
  display: flex;
  gap: 20px;
}
.mobileMenuContent .divisorcontent .divisorpart1 .headermobilecontentmenu .languageschange p {
  color: #000;
  font-size: 0.8rem;
}
.mobileMenuContent .divisorcontent .divisorpart1 .headermobilecontentmenu .hamburgerToClose {
  cursor: pointer;
}
.mobileMenuContent .divisorcontent .divisorpart1 .headermobilecontentmenu .hamburgerToClose .closingmenu {
  width: 30px;
  height: 2px;
  background-color: #1b1b1b;
  display: block;
  position: relative;
}
.mobileMenuContent .divisorcontent .divisorpart1 .headermobilecontentmenu .hamburgerToClose .closingmenu:first-child {
  transform: rotate(45deg);
}
.mobileMenuContent .divisorcontent .divisorpart1 .headermobilecontentmenu .hamburgerToClose .closingmenu:last-child {
  transform: rotate(-45deg);
}
.mobileMenuContent .divisorcontent .divisorpart1 .linksmenutoportfolio {
  margin-top: 5rem;
}
.mobileMenuContent .divisorcontent .divisorpart1 .linksmenutoportfolio nav ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  cursor: pointer;
}
.mobileMenuContent .divisorcontent .divisorpart1 .linksmenutoportfolio nav ul li:hover a {
  color: #21dcfd;
}
.mobileMenuContent .divisorcontent .divisorpart1 .linksmenutoportfolio nav ul li:hover i {
  color: rgb(33, 220, 253);
}
.mobileMenuContent .divisorcontent .divisorpart1 .linksmenutoportfolio nav ul li a {
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
}
.mobileMenuContent .divisorcontent .divisorpart2 {
  width: 100%;
}
.mobileMenuContent .divisorcontent .divisorpart2 .socialmediasmenu {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 2rem;
}
.mobileMenuContent .divisorcontent .divisorpart2 .socialmediasmenu .btn {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.4392156863);
  color: #21dcfd;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobileMenuContent .divisorcontent .divisorpart2 .socialmediasmenu .btn i {
  font-size: 20px;
  transition: 0.2s linear;
}
.mobileMenuContent .divisorcontent .divisorpart2 .socialmediasmenu .btn:hover i {
  transform: scale(1.3);
  color: #fff;
}
.mobileMenuContent .divisorcontent .divisorpart2 .socialmediasmenu .btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #21dcfd;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.mobileMenuContent .divisorcontent .divisorpart2 .socialmediasmenu .btn:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

.mobileMenuContent.ativo {
  display: block;
  height: 100vh;
  max-width: 650px;
  background-color: #fafafa;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 777;
  animation: animationMenu 0.5s ease-in-out;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

@keyframes animationMenu {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}
@keyframes animationTextShow {
  0% {
    transform: translate3d(0, 100%, 0);
    height: 0;
    transition: 0.8s all;
    opacity: 0.2;
  }
  20% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    transform: translate3d(0, 0, 0);
    transition: 0.8s all;
    height: 100%;
    opacity: 1;
  }
}
@keyframes opacityHeadeer {
  0% {
    opacity: 0;
    transition: 0.8s all;
  }
  100% {
    opacity: 1;
    transition: 0.8s all;
  }
}
#contato {
  background-color: #ffffff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
#contato .contactsize {
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 300px;
}
#contato .contactsize .sobrecontato {
  width: 30%;
}
#contato .contactsize .sobrecontato h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-family: "Righteous", sans-serif;
}
#contato .contactsize .container-form {
  width: 100%;
}
#contato .contactsize .container-form .form-style {
  display: flex;
  flex-direction: column;
  align-items: left;
}
#contato .contactsize .container-form .form-style .label-form {
  margin-bottom: 7px;
}
#contato .contactsize .container-form .form-style .input-style,
#contato .contactsize .container-form .form-style .textarea-style, #contato .contactsize .container-form .form-style .textarea {
  width: 100%;
  border: 0;
  padding: 0.6em;
  padding-left: 0;
  position: relative;
  color: currentColor;
  background: transparent;
  border-bottom: 1px solid currentColor;
}
#contato .contactsize .container-form .form-style .name-email {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}
#contato .contactsize .container-form .form-style .name-email .every-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#contato .contactsize .container-form .form-style .name-email .every-input .input-style {
  height: 40px;
  width: 100%;
  padding: 15px 8px;
}
#contato .contactsize .container-form .form-style .message {
  margin-top: 3rem;
}
#contato .contactsize .container-form .form-style .message .textarea {
  padding: 0.6rem;
  height: 100px;
  padding-bottom: 3.5rem;
}
#contato .contactsize .container-form .form-style .button-submit-form {
  height: 34px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  background-color: #3f3f3f;
  font-size: 1rem;
  margin: 0 auto;
  width: 30%;
  color: #fff;
}
@media (max-width: 600px) {
  #contato .contactsize .container-form .form-style .name-email {
    flex-direction: column;
    gap: 0px;
  }
}

@keyframes animationTextShow {
  0% {
    transform: translate3d(0, 100%, 0);
    height: 0;
    transition: 0.8s all;
    opacity: 0.2;
  }
  20% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    transform: translate3d(0, 0, 0);
    transition: 0.8s all;
    height: 100%;
    opacity: 1;
  }
}
@keyframes opacityHeadeer {
  0% {
    opacity: 0;
    transition: 0.8s all;
  }
  100% {
    opacity: 1;
    transition: 0.8s all;
  }
}
#projetos {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 1.5rem 1rem;
}
#projetos .textproject .titlepageproject {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
}
#projetos .textproject .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}
#projetos .textproject .row .card {
  width: 350px;
}
#projetos .textproject .row .card .wrapper {
  background-color: #000;
  height: 400px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.1);
}
#projetos .textproject .row .card .wrapper:hover .data {
  transform: translateY(0);
}
#projetos .textproject .row .card .wrapper .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(145px + 1em));
  transition: transform 0.3s;
  z-index: 1;
}
#projetos .textproject .row .card .wrapper .data .content {
  padding: 0 1rem;
}
#projetos .textproject .row .card .wrapper .data .content .author {
  font-size: 0.7rem;
  color: #a7a7a7;
}
#projetos .textproject .row .card .wrapper .data .content .text {
  color: #000;
}
#projetos .textproject .row .project1 .titleproject, #projetos .textproject .row .project2 .titleproject, #projetos .textproject .row .project3 .titleproject {
  color: #000;
  font-size: 2rem;
}
#projetos .textproject .row .project1 .text, #projetos .textproject .row .project2 .text, #projetos .textproject .row .project3 .text {
  margin: 15px 0 10px 0;
}
#projetos .textproject .row .project1 .linkto, #projetos .textproject .row .project2 .linkto, #projetos .textproject .row .project3 .linkto {
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
  margin: 1.5rem 0rem;
  background-color: #000;
  color: #fff;
}
#projetos .textproject .row .project1 .linkto::after, #projetos .textproject .row .project2 .linkto::after, #projetos .textproject .row .project3 .linkto::after {
  content: "→";
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.3s;
}
#projetos .textproject .row .project1 .linkto:hover::after, #projetos .textproject .row .project2 .linkto:hover::after, #projetos .textproject .row .project3 .linkto:hover::after {
  transform: translate(5px, -50%);
  opacity: 1;
}
#projetos .textproject .row .project1 .wrapper {
  background: url(../assets/testdsm.jpg) center/cover no-repeat;
}
#projetos .textproject .row .project2 .wrapper {
  background: url(../assets/testjapa.jpg) center/cover no-repeat;
}
#projetos .textproject .row .project3 .wrapper {
  background: url(../assets/testrx.jpg) center/cover no-repeat;
}

@keyframes animationTextShow {
  0% {
    transform: translate3d(0, 100%, 0);
    height: 0;
    transition: 0.8s all;
    opacity: 0.2;
  }
  20% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    transform: translate3d(0, 0, 0);
    transition: 0.8s all;
    height: 100%;
    opacity: 1;
  }
}
@keyframes opacityHeadeer {
  0% {
    opacity: 0;
    transition: 0.8s all;
  }
  100% {
    opacity: 1;
    transition: 0.8s all;
  }
}
#skills {
  background-color: #ffffff;
  padding: 5rem;
}
#skills .textskill {
  padding: 5rem 1.5rem;
}
#skills .textskill h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-family: "Righteous", sans-serif;
}
#skills .textskill .containerskills {
  display: flex;
  gap: 100px;
}
#skills .textskill .containerskills .containercontentlanguage {
  width: 50%;
}
#skills .textskill .containerskills .containercontentlanguage .contentlanguage {
  display: none;
}
#skills .textskill .containerskills .containercontentlanguage .contentlanguage.ativo {
  display: block;
  animation: animationText 0.9s forwards;
}
#skills .textskill .containerskills .imagelanguages {
  width: 50%;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}
#skills .textskill .containerskills .imagelanguages .menulanguage {
  border: 1px solid #1b1b1b;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
#skills .textskill .containerskills .imagelanguages .menulanguage img {
  height: 40px;
}
#skills .textskill .containerskills .imagelanguages .menulanguage.ativo {
  background-color: #1b1b1b;
}

@keyframes animationText {
  from {
    transform: translate3d(-15%, 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes animationTextShow {
  0% {
    transform: translate3d(0, 100%, 0);
    height: 0;
    transition: 0.8s all;
    opacity: 0.2;
  }
  20% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    transform: translate3d(0, 0, 0);
    transition: 0.8s all;
    height: 100%;
    opacity: 1;
  }
}
@keyframes opacityHeadeer {
  0% {
    opacity: 0;
    transition: 0.8s all;
  }
  100% {
    opacity: 1;
    transition: 0.8s all;
  }
}
#sobre {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem 1rem;
}
#sobre .titlesobre {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
#sobre .introducingmyself {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 1rem 0rem;
}
#sobre .introducingmyself img {
  border-radius: 50% 50%;
  height: 150px;
  filter: grayscale(1);
}
#sobre .introducingmyself img:hover {
  filter: grayscale(0);
}
#sobre .introducingmyself p {
  max-width: 80ch;
}
#sobre .infosaboutme {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-top: 2rem;
}
#sobre .infosaboutme h2 {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 0.7rem;
  font-weight: bold;
}
#sobre .infosaboutme h3 {
  margin-bottom: 3px;
  font-size: 1.1rem;
  text-transform: uppercase;
}
#sobre .infosaboutme p {
  margin-bottom: 1rem;
}

@keyframes animationTextShow {
  0% {
    transform: translate3d(0, 100%, 0);
    height: 0;
    transition: 0.8s all;
    opacity: 0.2;
  }
  20% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    transform: translate3d(0, 0, 0);
    transition: 0.8s all;
    height: 100%;
    opacity: 1;
  }
}
@keyframes opacityHeadeer {
  0% {
    opacity: 0;
    transition: 0.8s all;
  }
  100% {
    opacity: 1;
    transition: 0.8s all;
  }
}
footer {
  height: 60vh;
  background-color: #ffffff;
  display: flex;
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem 1rem;
}/*# sourceMappingURL=styles.css.map */